{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_was_price_badge %}
{% endblock %}

{% block page_product_detail_was_price_wrapper %}
    <span class="product-detail-list-price-wrapper">
        <span{% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price"{% endif %}>{{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}</span>
    </span>
{% endblock %}