.footer-main {
    background: #fff;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, .1);
    .footer-contact-hotline a {
        margin: 0;
        &:first-of-type {
            margin-top: 30px;
        }
        &:last-of-type {
            font-weight: 400;
        }
    }
    p {
        font-size: 14px;
    }
}
.footer-bottom {
    background: #fff;
    .footer-vat {
        max-width: 1560px;
        margin: 0 auto;
        border-top: 1px solid #707070;
        padding-top: 10px;
        p {
            margin: 0;
        }
    }
}
.footer-image {
    padding-top: 1rem;
    text-align: center;
}
.payment-shipping {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img, span {
        max-height: 52px;
        width: 67px;
        height: 50px;
        object-fit: contain;
    }
    span {
        border: 1px solid $sw-border-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-self: center;
        line-height: 1.2;
        text-align: center;
    }
}
.footer-head {
    margin: 80px 0;
}
.footer-trusteds {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 40px 20px;
    flex-wrap: wrap;
    .footer-trusted {
        width: calc(20% - 20px);
        text-align: center;
        img {
            margin-bottom: 20px;
            mix-blend-mode: multiply;
            height: 70px;
            width: 80px;
            object-fit: contain;
        }
        p {
            &.blue {
                color: $sw-color-brand-primary;
                font-weight: 700;
            }
            &.yellow {
                color: $sw-color-brand-secondary;
                font-weight: 700;
                a {
                    color: $sw-color-brand-secondary;
                }
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .footer-column-headline {
        padding: 3rem 0 1rem 0;
    }
    .col-md-4.footer-column {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .footer-image {
        padding-top: 4rem;
    }
}
@media screen and (max-width: 991px) {
    .footer-trusteds .footer-trusted {
        width: calc((100% / 3) - 20px);
    }
}
@media screen and (max-width: 575px) {
    .footer-trusteds .footer-trusted {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 420px) {
    .footer-trusteds .footer-trusted {
        width: 100%;
    }
}