{% sw_extends '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}

{% block layout_header_actions_account_widget %}
  {{ parent() }}
  <div class="header-actions">{{ 'wlcustom.login'|trans }}</div>
{% endblock %}
