{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
  <span class="header-cart-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
      <path id="Pfad_21432" data-name="Pfad 21432" d="M26.685,7.723a2.747,2.747,0,0,0-2.1-.973H7.244l-.29-.87A2.746,2.746,0,0,0,4.345,4H2.917a.917.917,0,0,0,0,1.833H4.345a.917.917,0,0,1,.87.627c.344.594,2.628,10.1,2.882,11.04a2.746,2.746,0,0,0,2.668,2.083h12.6a2.74,2.74,0,0,0,2.712-2.3L27.3,9.952A2.743,2.743,0,0,0,26.685,7.723ZM25.49,9.65l-1.223,7.334a.913.913,0,0,1-.9.766h-12.6a.916.916,0,0,1-.89-.695L7.757,8.583H24.585A.921.921,0,0,1,25.49,9.65ZM20.333,20.5a2.75,2.75,0,1,0,2.75,2.75,2.75,2.75,0,0,0-2.75-2.75Zm0,3.667a.917.917,0,1,1,.917-.917A.917.917,0,0,1,20.333,24.167ZM13,20.5a2.75,2.75,0,1,0,2.75,2.75A2.75,2.75,0,0,0,13,20.5Zm0,3.667a.917.917,0,1,1,.917-.917A.917.917,0,0,1,13,24.167Zm7.333-11a.917.917,0,0,1-.917.917h-5.5a.917.917,0,0,1,0-1.833h5.5A.917.917,0,0,1,20.333,13.167Z" transform="translate(-2 -4)" fill="#011717" style="&#10;" />
    </svg>
  </span>
  {% if (page.cart.lineItems|length) > 0 %}
    <span class="badge badge-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
  {% endif %}
{% endblock %}
