{% sw_extends '@Storefront/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information_default %}
  <link itemprop="availability" href="http://schema.org/InStock" />
  <p class="delivery-information delivery-available">
    <span class="delivery-status-indicator bg-success"></span>
    {{ 'wlcustom.customdeliverytime'|trans|raw }}
  </p>
{% endblock %}
