{% sw_extends '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' %}

{% block page_product_detail_cross_selling_tabs_inner %}
    {% if crossSellings|filter(item => item.total > 0 and item.crossSelling.active == true) %}
        <div class="custom-cross-selling">
            {% for item in crossSellings|filter(item => item.total > 0 and item.crossSelling.active == true)  %}
                <div class="crosselling-container">
                    {% set id = item.crossSelling.id %}
                    <p class="h4">{{ item.crossSelling.translated.name }}</p>
                    {% set config = {
                        'border': {
                            'value': false
                        },
                        'rotate': {
                            'value': true
                        },
                        'products': {
                            'value': item.getProducts()
                        },
                        'boxLayout': {
                            'value': 'standard'
                        },
                        'elMinWidth': {
                            'value': '200px'
                        },
                        'navigation': {
                            'value': true
                        },
                        'displayMode': {
                            'value': 'minimal'
                        },
                        'verticalAlign': {
                            'value': 'top'
                        },
                    } %}
                    {% sw_include "@Storefront/storefront/element/cms-element-product-slider.html.twig" with {
                        sliderConfig: config,
                        element: {
                            'data': {
                                'products': {
                                    elements: item.getProducts()
                                }
                            },
                            type: 'product-slider'
                        }
                    } %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
